/1. OOP class/.vs
/1. OOP class/Debug
/1. OOP class/1. OOP class/Debug
/2.1 Task/.vs
/2.1 Task/Debug
/2.1 Task/2.1 Task/Debug
/2.Akcesor/.vs
/2.Akcesor/Debug
/2.Akcesor/2.Akcesor/Debug
/3.Destruction/.vs
/3.Destruction/Debug
/3.Destruction/3.Destruction/Debug
/4.Task Train/.vs
/4.Task Train/Debug
/4.Task Train/4.Task Train/Debug
/5.Static/.vs
/5.Static/Debug
/5.Static/5.Static/Debug
/6.Class in Class/.vs
/6.Class in Class/Debug
/6.Class in Class/6.Class in Class/Debug
/8.Delegete construction/.vs
/8.Delegete construction/Debug
/8.Delegete construction/8.Delegete construction/Debug